<div>
    <header>
        <span class="com_name">
            CarCraze
        </span>
        <span class="links">
            <a href="buy" class="hov">Buy</a>
            <a href="sell" class="hov">Sell</a>
            <a class="hov">Logout</a>
            <a><i class="fa-regular fa-user"></i></a>
        </span>
    </header>
    <div class="intro">
        <div class="wel_intro">
            <div class="outinto">
                buying and selling made easy..
            </div>
            <span class="intointo">
                You've found it: The better way to buy or sell a car. Find a great car and make it yours or sell us the one you have, all without a trip to the dealership. But how, exactly? Here's how. 
            </span>
            <div>
                <a href="buy" ><button class="btn_buy">BUY CAR</button></a>
                <a href="sell"><button class="btn_sell">SELL CAR</button></a>
            </div>
        </div>
        <div class="wel_image"> 
            <img src="../../../assets/WhatsApp Image 2024-05-05 at 21.16.04_729fb7e0.png">
        </div>
    </div>
</div>